:root{
	font-size: 16px;
	font-family: 'Open Sans';
	--dark-black : #171717;
	--light-black : #444444;
	--dark-red : #da0037;
	--light-green : #66de93;
	--light-white : #ededed;
	--transition-speed: 600ms;

}

body{
    color: var(--dark-black);
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar{
	width: 0.25rem;
}
body::-webkit-scrollbar-track{
	background-color: var(--light-white);
}
body::-webkit-scrollbar-thumb{
	background-color: var(--dark-black);
}


.navbar{
	position: fixed;
	background-color: var(--dark-black);
	transition: width 200ms ease;
	overflow: scroll;
}


.navbar-nav{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.nav-item{
	width: 100%;
}
.nav-item:last-child{
	margin-top: auto;
}

.nav-link{
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--light-white);
	text-decoration: none;
	filter: grayscale(1000%) opacity(0.8);
	transition: var(--transition-speed);
}
.nav-link:hover{
	filter: grayscale(0) opacity(1);
	background-color: var(--light-black);
	color: var(--light-white);
}

.link-text{
	display: none;
	margin-left: 1rem;
}

.nav-link svg{
	width: 2rem;
	min-width: 2rem;
	margin: 0 1.5rem;
	color: var(--light-green);
	transition: var(--transition-speed);
}


.logo {
	font-weight: bold;
	margin-bottom: 1rem;
	text-align: center;
	color: var(--light-white);
	background-color : black;
	font-size: 1.5rem;
	letter-spacing: 0.3ch;
	width: 100%;
}

.logo svg{
	color: var(--light-white);
	transform: rotate(0deg);
	transition: transform var(--transition-speed);
}

.navbar:hover .logo svg{
	transform: rotate(-90deg);
}

.react-link{
	text-decoration: none;
}



/* =================MEDIA QUERIES================== */
/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

}

	/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
	top: 0;
	width: 5rem;
	height: 100vh;
    }

    .navbar:hover {
	width: 20rem;
    }


    .navbar:hover .link-text {
	font-weight: bold;
	display: block;
    }

    .navbar:hover .logo-text {
	left: 0px;
    }
}