:root{
	--Dark-Blue: #12232E;
	--Lighter-Blue: #007CC7;
	--Lightest-Blue: #4DA8DA;
	--Shadow-of-DarkBlue: #203647;
	--Shadow-of-LightBlue: #EEFBFB;

	--wall : 1px solid var(--Shadow-of-DarkBlue);
	--fake-wall : 1px solid var(--Shadow-of-LightBlue);
}

.node {
	width: 20px;
	height: 20px;
	background-color: var(--Lightest-Blue);
	display: inline-block;
	margin-left: -1px;
	margin-bottom: -4px;
}


.left-wall{ border-left: var(--wall); }
.right-wall{ border-right: var(--wall); }
.top-wall{ border-top: var(--wall); }
.bottom-wall{ border-bottom: var(--wall); }

.fake-left-wall{ border-left: var(--fake-wall); }
.fake-right-wall{ border-right: var(--fake-wall); }
.fake-top-wall{ border-top: var(--fake-wall); }
.fake-bottom-wall{ border-bottom: var(--fake-wall); }


.node-visited{
	animation-name: visited;
	animation-duration: 1s;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
	background-color: var(--Shadow-of-LightBlue);
}

@keyframes visited{
	0%{};
	50%{};
	100%{}
}
